.spotDiscoveryContainer {
    margin: 0 auto; 
    width: 90%; 
    padding: 20px; 
}

.spotCard {
    break-inside: avoid; 
    margin-bottom: 25px; 
}


.spotCardsContainer {
    column-count: 3; 
    column-gap: 25px; 
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .spotCardsContainer {
        column-count: 2; 
    }
    
}

@media screen and (max-width: 800px) {
    .spotCardsContainer {
        column-count: 1; 
    }
    
}
