.day {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #444343;
    margin-bottom: 5px;
}


.time {
    font-size: 16px;
    padding: 10px;
    color: #757575;
    margin-bottom: 5px;
}

.activity {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

.travelPlanText {
    color: #363131; 
    font-family: 'Droid serif', serif; 
    font-size: large; 
    font-weight: 400; 
    font-style: italic; 
}



